<div class="container">
  <h1>IdeaBox</h1>

  <form action='/<%= idea.id %>' method='POST'>
    <p>
      <% if idea.id %>
        edit your idea:
      <% else %>
        your idea:
      <% end %>
    </p>
    <% if idea.id %>
      <input type="hidden" name="_method" value="PUT" />
    <% end %>
    <input type='text' name='idea[title]' placeholder="title" value="<%= idea.title %>"/><br/>
    <textarea name='idea[description]' placeholder="description"><%= idea.description %></textarea><br/>
    <textarea name='idea[tags]' placeholder="tags"><%= idea.tags %></textarea><br/>
    <input type='submit' value="update"/>
  </form>
</div>
